@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

@font-face {
  font-family: font;
  src: url(/assets/fonts/font.ttf);
}

body {
  overflow-x: hidden;
  overflow-y: 'auto';
  scrollbar-color: #808189 transparent;
  scrollbar-width: 'thin';
  font-family: font;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

body.no-scroll {
  overflow-y: hidden !important;
}

body::-webkit-scrollbar {
  height: 4px;
  width: 10px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #808189;
  border-radius: 50px;
}
